<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="smartblindsdbConnectionString" connectionString="Data Source=1163PC2\SMARTBLINDSDB;Initial Catalog=smartblindsdb;Integrated Security=True"
      providerName="System.Data.SqlClient"/>

    <add name="csWebDB"
      connectionString="Server=tcp:smartblindsdb.database.windows.net,1433;Initial Catalog=smartblindsdb;Persist Security Info=False;User ID=mcr0berts;Password=Michael.Roberts@oit.edu;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SmartBlindsWebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="SmartBlindsWebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://smartblinds.eastus.cloudapp.azure.com/SmartBlindsWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SmartBlindsWebServiceSoap"
        contract="sbWebService.SmartBlindsWebServiceSoap" name="SmartBlindsWebServiceSoap" />
      <endpoint address="http://smartblinds.eastus.cloudapp.azure.com/SmartBlindsWebService.asmx"
        binding="customBinding" bindingConfiguration="SmartBlindsWebServiceSoap12"
        contract="sbWebService.SmartBlindsWebServiceSoap" name="SmartBlindsWebServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>
