<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="smartblindsdbConnectionString" connectionString="Data Source=1163PC2\SMARTBLINDSDB;Initial Catalog=smartblindsdb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <services>
      <service name="SmartBlindsWebApp.sbServices.HelloServiceClient">
        <endpoint address="http://localhost:52526/sbServices.svc" binding="basicHttpBinding"
          bindingConfiguration="" name="HelloServices" contract="sbServices.IHelloService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IsbServices" />
        <binding name="BasicHttpBinding_IHelloService" />
        <binding name="WebService1Soap" />
        <binding name="WIN1500TESTSoap" />
        <binding name="SmartBlindsWebServiceSoap" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IHelloService" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/HelloService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IHelloService" contract="sbServices.IHelloService"
        name="BasicHttpBinding_IHelloService" />
      <endpoint address="net.tcp://localhost:8090/HelloService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IHelloService" contract="sbServices.IHelloService"
        name="NetTcpBinding_IHelloService">
        <identity>
          <userPrincipalName value="JWINC\MikeRob" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:54935/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="HelloWorld.WebService1Soap"
        name="WebService1Soap" />
      <endpoint address="http://localhost:54298/WIN1500TEST.asmx" binding="basicHttpBinding"
        bindingConfiguration="WIN1500TESTSoap" contract="WIN100TEST.WIN1500TESTSoap"
        name="WIN1500TESTSoap" />
      <endpoint address="http://localhost:54935/SmartBlindsWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SmartBlindsWebServiceSoap"
        contract="sbWebService.SmartBlindsWebServiceSoap" name="SmartBlindsWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>